title: Saif Ahmad
description: Robotics · Perception · Manipulation

url: https://saifahmadgit.github.io
baseurl: /saifahmad.github.io

markdown: kramdown
permalink: pretty

collections:
  projects:
    output: true
    permalink: /projects/:name/
