---
layout: default
---

<section class="about">
  {{ content }}
</section>

<section class="projects">
  <h2>Featured Projects</h2>
  {% for project in site.projects %}
    <div class="project-card">
      <img src="{{ project.image }}" />
      <div>
        <h3>
          <a href="{{ project.url }}">{{ project.title }}</a>
        </h3>
        <p>{{ project.description }}</p>

        <div class="tags">
          {% for tag in project.tags %}
            <span class="tag">{{ tag }}</span>
          {% endfor %}
        </div>
      </div>
    </div>
  {% endfor %}
</section>
